fieldset {  /* 모든 fieldset 요소에 적용할 스타일 */
  margin-bottom:20px;  /* 아래쪽 마진 */ 
}
fieldset legend {  /* fieldset 요소의 하위 legend 요소에 적용할 스타일 */
  font-weight:bold;  /* 폰트 굵기 */
}
ul { /* 모든 ul 요소에 적용할 스타일 */
  list-style:none;  /* 불릿 없애기 */
  padding-left:0;  /* 왼쪽 패딩 */ 
}
li{
     margin:10px;  /* 마진 */

}
textarea{
     margin-left: 10px;
}

input[type="text"], input[type="tel"], input[type="email"] {   /* type="text", type="tel", type="email"인 input 요소에 적용할 스타일 */
  width:200px;   /* 너비 */
}
#hope {
     font-weight: bold;
}

/* '주문하기', '취소하기' 버튼 */
div {  /* 모든 div 요소에 적용할 스타일 */
  width:400px;  /* 너비 */
  margin:15px auto;  /* 화면 중앙에 배치 */
}