*.jpg
*.npy
*.pt
*.pth
*.mp4
*.exe
datasets/
*.zip
*.h5
*.weights
*.keras
*.task
*.pyc
__pycache__/
*.pb
*.ipch
*.pch
*.db
*.VC.db
*.slnx
*.pdb
*.idb
*.tlog
*.obj
*.pobj
x64/
Debug/
Release/
.vs/
commands.json